<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="site.css">
    <title>
        KellyAdelly Hub
    </title>
</head>
<body>
    <center>
    <h1>Bar Patrons: </h1>
    <form action="index.php" method="post">
    <br><h4>Enter your first name:<input style="text" name="patron"></h4><br>
    <input type="submit" class="button" value="Click here"><br><br><hr><br></form>
    <h1>Bartenders:</h1><a href="bartender.php" class="button">Click here</a>
    </center>
    <img src="images/pour.png" style="width: 200px;height:300px;">
</body>
</html>